################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Assignment2/.vs/
/Assignment2/PetPlayApp/petplayapp.client/obj/
/Assignment2/PetPlayApp/PetPlayApp.Server/obj/
/Assignment2/PetPlayApp/PetPlayApp.Server/bin/
/Assignment2/PetPlayApp/PetPlayApp.Server/obj/Debug/net8.0/spa.proxy.json
/.vscode
/Assignment2/PetPlayApp.Test/bin/Debug/net8.0
/Assignment2/PetPlayApp.Test/obj
