@import './base.css';

#header {
    overflow: hidden;
    background-color: skyblue;
    padding: 0px 20px;
    margin-bottom: 50px;
}

#router-view {
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    #header {
        background-color: darkslateblue;
    }

    #router-view {
        background-color: darkslategray;
    }
}
